.projects {
    display: flex;
    width: 1170px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    contain: content;
}

/* button */

.buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.buttons__subtitle { 
    font-family: 'Roboto', sans-serif;
    background: #F5F4FA;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    color: #212121;
    margin: 8px;
}

.buttons__subtitle:hover, .buttons__subtitle:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}

.title-cards {
    display: flex;
    width: 322px;
    flex-direction: column;
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
}

.title-text-cards {
    text-align: justify;
    display: flex;
    width: 322px;
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;
}